<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label>
       First Name : <br>
         <input type="text" formControlName="firstname" required>
    </label><br>
    <label>
       Last Name: <br>
       <input type="text" formControlName="lastname">
    </label><br><br>
  <div formGroupName="address">
     <h3>Address</h3>
              <label>
                  Street : <br>
                  <input type="text" formControlName="street">
              </label><br>
                <label>
                   City : <br>
                   <input type="text" formControlName="city">
                </label><br>
          <label>
              State : <br>
              <input type="text" formControlName="state">
          </label><br>
          <label>
            Zip : <br>
              <input type="text" formControlName="zip">
          </label><br> <br/>
          <p>
            <button type="submit" [disabled]="!profileForm.valid">Submit</button>
          </p>
        
  </div>
    
     <p>
      <button type="button" (click)="upadteProfile()">Update Profile</button>
   </p>
   <p>
    Form Status:
     {{ profileForm.Status }}
   </p>
</form>